/*
Magic Beans Admin Template
version:1.0.0
*/

/* ��½�� */
.login-container .loginbox {
    width: 300px!important;
    height: 270px!important;
}

.login-bg{
    background: #4CAF50!important;
}

.login-container {
    margin: 13% auto;
}


/* ���ư�ť�Ƿ�Բ�� */
.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.layui-layer-title {
  padding: 0 80px 0 10px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #5db2ff;
  font-size: 14px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #5db2ff;
}